/* Define o fundo cinza escuro para toda a aplicação */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #121212; /* Cinza escuro */
  color: #ffffff; /* Cor padrão do texto */
  font-family: Arial, sans-serif; /* Fonte padrão */
}

/* Define um estilo base para todos os elementos */
* {
  box-sizing: border-box;
}

/* Outros estilos globais, se necessário */
